<div class="partiture-wrapper">
  <div class="notes-filter-wrapper">
    <mat-checkbox
      *ngFor="let checkbox of checkboxNotes"
      [value]="checkbox.value"
      [checked]="checkbox.checked"
      (change)="filterChangeCallback(checkbox.value)"
    >
      {{ checkbox.value }}
    </mat-checkbox>
  </div>

  <div
    class="clef-wrapper"
    [style.opacity]="isAtLeastOneNoteSelected ? '1' : '0'"
  >
    <img
      [src]="
        currentDiplayedClef === 'G'
          ? 'assets/images/clef-g.png'
          : 'assets/images/clef-f.png'
      "
    />

    <img
      [src]="this.currentNote.image"
      class="note"
      [style]="
        this.currentNote.positionY
          ? 'top:' + this.currentNote.positionY + 'px'
          : null
      "
    />
  </div>
  <app-guess-box
    [style.opacity]="isAtLeastOneNoteSelected ? '1' : '0'"
    (byInputChange)="hideMessageCallback()"
    (byTypedNote)="checkNote($event)"
  ></app-guess-box>
</div>

<app-clef-selector
  (bySelectClef)="changeClefCallback($event)"
></app-clef-selector>
<app-message
  [shouldDisplayMessage]="shouldDisplayMessage"
  [type]="validation ? 'success' : 'error'"
  [message]="validation ? 'That is correct!' : 'That is wrong!'"
></app-message>
